<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--以下所有SQL子配置路径，是相对Config根目录的路径，这跟IOC配置文件是不一样的（它是相对当前配置文件的相对路径）-->
  <!--1、通用SQL配置：即在所有数据库类型中都能执行-->
  <include uri="file://DBTool/Common/SQL.Common.DBTool.config"/>
  
  <!--2、多选一：要与的IDataAccessDBTool的数据库类型保持一致。-->
  <!--<include uri="file://DBTool/MySql/SQL.DAL.MySql.DBTool.config"/>-->
  <!--<include uri="file://DBTool/SqlServer/SQL.SqlServer.config"/>-->
  <!--<include uri="file://DBTool/Oracle/SQL.DAL.Oracle.DBTool.config"/>-->
  <!--<include uri="file://DBTool/PostgreSql/SQL.PostgreSql.DBTool.config"/>-->
  <include uri="file://DBTool/SQLite/SQL.SQLite.DBTool.config"/>
</configuration>