<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--主框架数据库为SQLite时使用的数据访问层IoC配置-->
  <components>
    <!--基础数据-->
    <component id="IDDBConfigSet" service="Breezee.WorkHelper.DBTool.IDAL.IDDBConfigSet, Breezee.WorkHelper.DBTool.IDAL"
               type="Breezee.WorkHelper.DBTool.DAL.SQLite.DDBConfigSet,  Breezee.WorkHelper.DBTool.DAL.SQLite" />
    <component id="IDBTDBInitializer" service="Breezee.WorkHelper.DBTool.IDAL.IDBTDBInitializer, Breezee.WorkHelper.DBTool.IDAL"
               type="Breezee.WorkHelper.DBTool.DAL.SQLite.DDBTDBInitializer,  Breezee.WorkHelper.DBTool.DAL.SQLite" />
  </components>
</configuration>