<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--使用castle做IOC配置组件管理-->
    <!--<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Breezee.Framework.Mini.StartUp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Breezee.Framework.StartUp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>-->
  </configSections>
  <appSettings>
    <!--指定SQLs配置的主文件：SQLMainConfig-->
    <add key="SQLMainConfig" value="Config/SQL.Main.Mini.config"/>
  </appSettings>
  <!--<castle>-->
    <!--指定castle的主文件-->
    <!--<include uri="file://Config/IOC.App.Mini.config"/>-->
  <!--</castle>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <Breezee.Framework.Mini.StartUp.Properties.Settings>
      <setting name="LastLoginUserName" serializeAs="String">
        <value>xtadmin</value>
      </setting>
      <setting name="IsRememberUserName" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BrandCode" serializeAs="String">
        <value />
      </setting>
      <setting name="IsRememberPwd" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastLoginPwd" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AutoCompleteUserList" serializeAs="String">
        <value />
      </setting>
    </Breezee.Framework.Mini.StartUp.Properties.Settings>
  </userSettings>
</configuration>
