<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--以下所有IOC子配置路径，是相对当前文件的路径，这跟SQL配置文件是不一样的（它是相对Config根目录）-->
  <!--1、【DBTool】模块的业务逻辑层IOC配置-->
  <include uri="file://Common/IOC.BLL.DBTool.config"/>
  <include uri="file://Common/IOC.DAL.DBTool.config"/>

  <!--2、【DBTool】模块的数据库类型决定使用哪种IOC组件配置（五选一）：要与下方的IDataAccessDBTool的数据库类型保持一致-->
  <!--<include uri="file://MySql/IOC.DAL.MySql.DBTool.config"/>-->
  <!--<include uri="file://SqlServer/IOC.DAL.SqlServer.config"/>-->
  <!--<include uri="file://Oracle/IOC.DAL.DAL.Oracle.DBTool.config"/>-->
  <!--<include uri="file://PostgreSql/IOC.DAL.PostgreSql.DBTool.config"/>-->
  <include uri="file://SQLite/IOC.DAL.SQLite.DBTool.config"/>

  <components>
    <!--DBTool模块的数据库连接：使用SQLite-->
    <component id="IDataAccessDBTool" service="Breezee.AutoSQLExecutor.Core.IDataAccess, Breezee.AutoSQLExecutor.Core"
				   type="Breezee.AutoSQLExecutor.SQLite.BSQLiteDataAccess,  Breezee.AutoSQLExecutor.SQLite">
      <parameters>
        <sConstr>Data Source=SQLite_DBTool.db;Version=3;Pooling=True;Max Pool Size=100</sConstr>
      </parameters>
    </component>
    <!--自定义数据访问接口：数据库访问类一般在启动工程中设置，不建议在子模块中设置-->
    <!--<component id="ICustomDataAccess" service="Breezee.AutoSQLExecutor.Core.IDataAccess, Breezee.AutoSQLExecutor.Core"
               type="Breezee.AutoSQLExecutor.INF.CustomDataAccess,Breezee.AutoSQLExecutor.INF" />-->
    
    <!--SQL Server数据库连接组件：测试通过
    data source为数据库实例名，initial catalog为数据库名，user id为用户名，password为密码
    连接字符串示例：data source=.;initial catalog=AprilSpring;user id=sa;password=sa-->
    <component id="IDataAccessSqlServer" service="Breezee.AutoSQLExecutor.Core.IDataAccess, Breezee.AutoSQLExecutor.Core"
				   type="Breezee.AutoSQLExecutor.SqlServer.BSqlServerDataAccess,  Breezee.AutoSQLExecutor.SqlServer">
      <parameters>
        <sConstr>data source=localhost;initial catalog=AprilSpring;user id=sa;password=sa</sConstr>
      </parameters>
    </component>

    <!--Oracle连接组件：未测试。
    注：请保证可执行文件生成的全路径不要包括“括号”，否则会报“ORA-12154: TNS: 无法解析指定的连接标识符”错误！
    连接字符串示例：Data Source=HUI;User ID=test01;Password=test01;Unicode=True-->
    <component id="IDataAccessOracle" service="Breezee.AutoSQLExecutor.Core.IDataAccess, Breezee.AutoSQLExecutor.Core"
				   type="Breezee.AutoSQLExecutor.Oracle.BOracleDataAccess,  Breezee.AutoSQLExecutor.Oracle">
      <parameters>
        <sConstr>Data Source=orcl;User ID=hui;Password=hui;</sConstr>
      </parameters>
    </component>

    <!--SQLite连接组件：测试通过。对于相对路径，不知如何设置。目前数据库文件只能放根目
    连接字符串示例：Data Source=WorkHelper.db;Version=3;Password=myPassword;Pooling=True;Max Pool Size=100-->
    <component id="IDataAccessSQLite" service="Breezee.AutoSQLExecutor.Core.IDataAccess, Breezee.AutoSQLExecutor.Core"
				   type="Breezee.AutoSQLExecutor.SQLite.BSQLiteDataAccess,  Breezee.AutoSQLExecutor.SQLite">
      <parameters>
        <sConstr>Data Source=DB_System.db;Version=3;Pooling=True;Max Pool Size=100</sConstr>
      </parameters>
    </component>

    <!--PostgreSql连接组件：测试通过。连接字符串示例：User ID=postgres;Password=sa;Host=localhost;Port=5432;Database=AprilSpring;Pooling=true-->
    <component id="IDataAccessPostgreSql" service="Breezee.AutoSQLExecutor.Core.IDataAccess, Breezee.AutoSQLExecutor.Core"
				   type="Breezee.AutoSQLExecutor.PostgreSql.BPostgreSqlDataAccess,  Breezee.AutoSQLExecutor.PostgreSql">
      <parameters>
        <sConstr>User ID=postgres;Password=sa;Host=localhost;Port=5432;Database=AprilSpring;Pooling=true</sConstr>
      </parameters>
    </component>

    <!--MySql连接组件：测试通过-->
    <component id="IDataAccessMySql" service="Breezee.AutoSQLExecutor.Core.IDataAccess, Breezee.AutoSQLExecutor.Core"
				   type="Breezee.AutoSQLExecutor.MySql.BMySqlDataAccess,  Breezee.AutoSQLExecutor.MySql">
      <parameters>
        <sConstr>Server=localhost;Database=MISMain;Uid=root;Pwd=root</sConstr>
      </parameters>
    </component>
    
  </components>
</configuration>