<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <components>
    <!--数据库工具-->
    <!--基础数据-->
    <component id="IDDBConfigSet" service="Breezee.WorkHelper.DBTool.IDAL.IDDBConfigSet, Breezee.WorkHelper.DBTool.IDAL"
               type="Breezee.WorkHelper.DBTool.DAL.Oracle.DDBConfigSet,  Breezee.WorkHelper.DBTool.DAL.Oracle" />
    <component id="IDBTDBInitializer" service="Breezee.WorkHelper.DBTool.IDAL.IDBTDBInitializer, Breezee.WorkHelper.DBTool.IDAL"
               type="Breezee.WorkHelper.DBTool.DAL.Oracle.DDBTDBInitializer,  Breezee.WorkHelper.DBTool.DAL.Oracle" />
  </components>
</configuration>