<?xml version="1.0" encoding="utf-8"?>
<SQL>
  <DBTool>
    <DBConfigSet>
      <QueryDBConfig>
        <![CDATA[
        SELECT  A.DB_CONFIG_ID,
          A.DB_CONFIG_CODE,
          A.DB_CONFIG_NAME,
          A.DB_TYPE,
          A.SERVER_IP,
	      A.PORT_NO,
	      A.SCHEMA_NAME,
	      A.LOGIN_TYPE,
          A.DB_NAME,
          A.USER_NAME,
          A.USER_PASSWORD,
          A.TYPE_DESC,
          A.SORT_ID,
          A.REMARK,
          A.CREATE_TIME,
          A.CREATOR_ID,
          A.CREATOR,
          A.MODIFIER_ID,
          A.MODIFIER,
          A.LAST_UPDATED_TIME,
          A.IS_ENABLED,
          A.IS_SYSTEM,
          A.ORG_ID,
          A.UPDATE_CONTROL_ID,
          A.TFLAG,
          '0' AS IS_SELECTED
      FROM    DBT_BD_DB_CONFIG A
      WHERE   1=1 
	      AND A.DB_CONFIG_ID = '#DB_CONFIG_ID#'
        AND A.DB_TYPE = '#DB_TYPE#'
        AND A.IS_ENABLED = '#IS_ENABLED#'
        AND A.DB_CONFIG_CODE LIKE '%#DB_CONFIG_CODE#%'
        AND A.DB_NAME LIKE '%#DB_NAME#%'
		ORDER BY A.DB_CONFIG_CODE
      ]]>
      </QueryDBConfig>
    </DBConfigSet>
    <DefaultValue>
      <QueryDefaultValue>
        SELECT A.*
        FROM DBT_BD_COLUMN_DEFAULT A
        WHERE 1=1
        AND A.COLUMN_NAME='#COLUMN_NAME#'
      </QueryDefaultValue>      
    </DefaultValue>
  </DBTool>
</SQL>