<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <components>
    <!--基础数据-->
    <component id="IDBConfigSet" service="Breezee.WorkHelper.DBTool.IBLL.IDBConfigSet, Breezee.WorkHelper.DBTool.IBLL"
             type="Breezee.WorkHelper.DBTool.BLL.BDBConfigSet,  Breezee.WorkHelper.DBTool.BLL" />
    <component id="IDBDefaultValue" service="Breezee.WorkHelper.DBTool.IBLL.IDBDefaultValue, Breezee.WorkHelper.DBTool.IBLL"
             type="Breezee.WorkHelper.DBTool.BLL.BDBDefaultValue,  Breezee.WorkHelper.DBTool.BLL" />
    <component id="IDBTSystemSet" service="Breezee.WorkHelper.DBTool.IBLL.IDBTSystemSet, Breezee.WorkHelper.DBTool.IBLL"
             type="Breezee.WorkHelper.DBTool.BLL.BDBTSystemSet,  Breezee.WorkHelper.DBTool.BLL" />
  </components>
</configuration>