<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <components>
    <!--IOC配置:适用所有数据库的公共DAL-->
    <!--基础数据-->
    <component id="IDDBDefaultValue" service="Breezee.WorkHelper.DBTool.IDAL.IDDBDefaultValue, Breezee.WorkHelper.DBTool.IDAL"
           type="Breezee.WorkHelper.DBTool.DAL.DDBDefaultValue,  Breezee.WorkHelper.DBTool.DAL" />
    <component id="IDBTDBInitializer" service="Breezee.WorkHelper.DBTool.IDAL.IDBTDBInitializer, Breezee.WorkHelper.DBTool.IDAL"
           type="Breezee.WorkHelper.DBTool.DAL.DDBTDBInitializer,  Breezee.WorkHelper.DBTool.DAL" />
  </components>
</configuration>