<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Breezee.WorkHelper.DBTool.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>

    <userSettings>
        <Breezee.WorkHelper.DBTool.UI.Properties.Settings>
            <setting name="LastSelectedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoEntity_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoEntity_ClassPre" serializeAs="String">
                <value>DT_</value>
            </setting>
            <setting name="AutoEntity_ClassEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoEntity_PropertyPre" serializeAs="String">
                <value>EF_</value>
            </setting>
            <setting name="ExcelCol2Row_FixRowCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExcelCol2Row_EachDataRowCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ClickCopyPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelCopyDataConnect" serializeAs="String">
                <value />
            </setting>
            <setting name="DbGetSql_ParamType" serializeAs="String">
                <value />
            </setting>
            <setting name="DbGetSql_FirstWordType" serializeAs="String">
                <value />
            </setting>
        </Breezee.WorkHelper.DBTool.UI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
